@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  min-width: 320px;
  min-height: 100vh;
  /* background-image: '../public/pexels-andrew-jones-8599621.jpg'; */
  background-image: url('/pexels-andrew-jones-8599621.jpg');
  background-position-x: center;
  background-position-y: 20%;
  background-size: cover;
  background-attachment: fixed;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

.background-placeholder {
  position:fixed;
  bottom: 2em;
  left: 3em;
  /* max-height: 180px; */
  /* max-width: 1100px; */
  /* width: 90%; */
}

.welcome-page {
  position:relative;
  font-family: 'Inika', serif;
}

.welcome-page .header-text {
  font-size: 3.4em;
  font-weight: 400;
  /* word-spacing: 0.5em; */
  letter-spacing: 0.3em;
  color: #ffffff;
  text-shadow: 5px 5px 5px black;
}

.navigation-meny {
  display: flex;
  flex-direction: row;
  margin: 1em auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
