@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  min-width: 320px;
  min-height: 100vh;
  /* background-image: '../public/pexels-andrew-jones-8599621.jpg'; */
  background-image: url('/pexels-andrew-jones-8599621.jpg');
  background-position-x: center;
  background-position-y: 20%;
  background-size: cover;
  background-attachment: fixed;
}

.page-1 {
  position:fixed;
  top: 37em;
  left: 2rem;
  height: 15vh;
  width: 98%;
  margin: auto;
  /* ÖKA TOP STÖRRE ÄN 1500px width */
}

.background-placeholder {
  width: 95%;
  max-height: 220px;
}

.welcome-page {
  position:relative;
  font-family: 'Inika', serif;
}

.welcome-page .header-text {
  font-size: 3.4em;
  font-weight: 400;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-shadow: 2px 2px 3px black;
}

.header-text {
  cursor: pointer;
  transition: transform 0.2s;
}

.header-text:hover {
  font-size: 3.55em;
  transform: translate(-2px, -2px);
}

.navigation-meny {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em auto;
  max-width: 950px;
}

button {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.navigation-meny button .meny-val {
  /* width: 250px; */
  color: #ffffff;
  text-shadow: 5px 5px 5px black;
  font-size: 1.45em;
  letter-spacing: 0.1em;
}

.navigation-meny button .meny-val:hover {
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.5em;
}

.card {
  padding: 2em;
}
